body {
	background-color: rgb(127, 0, 255);
}
.signup {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	flex-direction: column;
	height: 100%;
	margin: 30%;
	border-radius: 20px;
}
.login-input {
	font-size: medium;
	font-weight: 500;
	width: 70%;
	height: 8%;
	border-radius: 25px;
	border-color: white;
	background-color: rgb(100, 100, 100, 0.2);
}
#login-button {
	color: white;
	background-color: rgb(127, 0, 255);
	border-color: rgb(127, 0, 255);
}
.signup h1 {
	align-self: center;
	margin-bottom: -10px;
}
.signup h3 {
	color: rgb(100, 100, 100, 0.5);
}